<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= paaotsikko %></title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
    <main>
        <h1><%= otsikko %></h1>
        <p class="<%= status.tyyppi %>"><%= status.viesti %></p>
        <a href="/"><button>Valikko</button></a>
    </main>
</body>
</html>