<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valikko</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
    <main>
        <h1>Valitse</h1>
        
        <a href="/all"><button>Hae kaikki</button></a></br>
        <a href="/haeTietokone"><button>Hae tietokone</button></a></br>
        <a href="/lisayslomake"><button>Lisää tietokone</button></a></br>
        <a href="/paivityslomake"><button>Muuta tietokoneen tietoja</button></a></br>
        <a href="/poistaTietokone"><button>Poista tietokone</button></a>
        
    </main>
    
</body>
</html>